.container {
	min-width: 1100px;
	overflow: hidden;
}

/* KEYVISUAL */
.keyvisual {
	position: relative;
	margin-top: 108px;
	height: 600px;
	min-width: 1100px;
	overflow: hidden;
}
.keyvisual video {
	position: absolute;
	left: 0; /* top: -200px; */
	width: 100%;
	min-width: 1100px;
}

/* CONT_WRAP */
.cont_wrap {
	width: 100%;
	margin-top: -35px;
	height: 368px;
  .cont_inner {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    min-width: 1100px;
  }
}

/* cont_top */
.cont_wrap .cont_inner {
	width: 1100px;
	min-width: 1100px;
  .cont_notice {
    float: left;
    width: 274px; height: 184px;
    background-color: #efefef;
    .title {
      padding: 0 27px;
      a {
        display: inline-block;
        padding: 7px 20px;
        font-family: 'Roboto', sans-serif, 'Noto Sans KR', sans-serif;
        color: #666;
        text-align: center;
      }
      a.active {
        font-weight: 600;
        color: #000;
        background-color: rgba(0, 181, 226, 0.3);
      }
    }
    .desc_group > div {
      display: none;
      width: 100%; height: 154px;
      .desc_group > div.active {
        display: block;
      }
      .desc_group div ul {
        padding: 15px 10px 0 10px;
      }
      .desc_group div ul li {
        display: inline-block;
        padding: 5px 0;
        border-bottom: 1px solid #ccc;
      }
      .desc_group div ul li:last-child {
        border-bottom: none;
      }
      .desc_group div ul li a {
        display: block;
        width: 254px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: 'Roboto', sans-serif, 'Noto Sans KR', sans-serif;
        font-size: 0.750em;
        line-height: 20px;
      }
      .desc_group .news_desc span {
        display: block;
        padding-top: 3px;
        font-size: 0.7em;
        color: #aaa;
      }
    }
  }
  .cont_banner1 {
    position: relative;
    float: left;
    width: 184px;
    height: auto;
    overflow: hidden;
    .photo {
      width: 100%;
      vertical-align: middle;
    }
    .desc {
      position: absolute;
      left: 0; top: 0;
      width: 100%; height: 100%;
      background-color: #000;
      opacity: 0;
      transition: opacity 0.5s;
    }
    a:hover .desc,
    a:focus .desc {
      opacity: 0.7;
    }
    .desc .title {
      position: absolute;
      top: 50%;
      margin-top: -32px;
      width: 100%;
      h2 {
        text-align: center;
        padding: 20px 0;
        font-size: 1em;
        line-height: 20px;
        color: #fff;
      }
    }
  }
  .cont_banner2 {
    position: relative;
    float: left;
    width: 184px;
    height: auto;
    overflow: hidden;
    .photo {
      width: 100%;
      vertical-align: middle;
    }
    .desc {
      position: absolute;
      left: 0; top: 0;
      width: 100%; height: 100%;
      background-color: #000;
      opacity: 0;
      transition: opacity 0.5s;
    }
    a:hover .desc,
    a:focus .desc {
      opacity: 0.7;
    }
    .desc .title {
      position: absolute;
      top: 50%;
      margin-top: -32px;
      width: 100%;
      h2 {
        text-align: center;
        padding: 20px 0;
        font-size: 1em;
        line-height: 20px;
        color: #fff;
      }
    }
  }
  .cont_banner3 {
    position: relative;
    float: left;
    width: 184px; height: auto;
    overflow: hidden;
    .photo {
      width: 100%;
      vertical-align: middle;
    }
    .desc {
      position: absolute;
      left: 0; top: 0;
      width: 100%; height: 100%;
      background-color: #000;
      opacity: 0;
      transition: opacity 0.5s;
    }
    a:hover .desc,
    a:focus .desc {
      opacity: 0.7;
    }
    .desc .title {
      position: absolute;
      top: 50%;
      margin-top: -32px;
      width: 100%;
      h2 {
        text-align: center;
        padding: 20px 0;
        font-size: 0.875em;
        line-height: 20px;
        color: #fff;
      }
    }
  }
  .cont_campus {
    float: left;
    width: 274px; height: 184px;
    background-color:#e4ebed;
    p.title {
      display: inline-block;
      vertical-align: middle;
      margin-top: 25px;
      margin-left: 20px;
      font-family: 'Roboto', sans-serif, 'Noto Sans KR', sans-serif;
      font-size: 1.125em;
      font-weight: 300;
      line-height: 18px;
    }
    a.more {
      display: inline-block;
      float: right;
      margin-top: 28px;
      margin-right: 30px;
      font-family: 'Roboto', sans-serif, 'Noto Sans KR', sans-serif;
      font-size: 0.750em;
      line-height: 12px;
      color: #888c8f;
    }
    div[class^=cam_select] {
      padding: 13px 0 10px 24px;
    }
    dl {
      display: inline-block;
      position: relative;
      line-height: 35px;
      vertical-align: middle;
    }
    .cam_select1 dl dt {
      background-color: #fff;
    }
    .cam_select2 dl dt {
      background-color: #98b8c0;
    }
    dl dt a {
      display: block;
      position: relative;
      padding-left: 10px;
      width: 224px; height: 35px;
      vertical-align: middle;
      font-family: 'Roboto', sans-serif, 'Noto Sans KR', sans-serif;
      font-size: 0.875em;
      color: #99999b;
    }
    .cam_select2 dl dt a {
      color: #fff;
    }
    dl dt a span {
      display: inline-block;
      position: absolute;
      right: 10px; top: 50%;
      margin-top: -2px;
      width: 7px; height: 4px;
      background: url(../img/sel_arrow1_down.png) no-repeat center center;
    }
    .cam_select2 dl dt a span {
      background: url(../img/sel_arrow2_down.png) no-repeat center center;
    }
    dl dt a.active span {
      background: url(../img/sel_arrow1_up.png) center center;
    }
    .cam_select2 dl dt a.active span {
      background: url(../img/sel_arrow2_up.png) no-repeat center center;
    }
    dl dd {
      display: none;
      position: absolute;
      left: 0; top: 35px; z-index: 10;
      width: 224px;
      background-color: #f1f1f1;
    }
    dl dd li {
      border-top: 1px solid #eaeaea;
    }
    dl dd li:first-child {
      border-top: none;
    }
    dl dd li a {
      display: block;
      padding-left: 31px;
      line-height: 32px;
      font-size: 0.75em;
      background-color: #fff;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s;
    }
    dl dd li a.active {
      background-color: #f1f1f1;
    }
  }
  
}

/* cont bottom */
.cont_wrap .cont_inner {
	width: 1100px;
	min-width: 1100px;
  .cont_award {
    float: left;
    width: 274px; height: 184px;
    background: url(../img/award_bg.png) no-repeat 0 0;
    p.title {
      margin-top: 32px;
      margin-left: 22px;
      font-family: 'Roboto', sans-serif, 'Noto Sans KR', sans-serif;
      font-size: 1.125em;
      font-weight: 400;
      line-height: 18px;
    }
    p.content {
      margin-top: 35px;
      margin-left: 22px;
      font-family: 'Roboto', sans-serif, 'Noto Sans KR', sans-serif;
      font-size: 0.875em;
      line-height: 15px;
      color: #5f5f5f;
    }
  }
  .cont_brand {
    position: relative;
    float: left;
    width: 552px; height: 184px;
    overflow: hidden;
    .desc {
      position: absolute;
      left: 22px;
      width: auto;
      font-family: 'Roboto', sans-serif, 'Noto Sans KR', sans-serif;
      h2 {
        margin-top: 25px;
        font-size: 1.125em;
        font-weight: 300;
        line-height: 18px;
      }
      p {
        margin-top: 13px;
        font-size: 0.813em;
        line-height: 15px;
        color: #99999b;
      }
    }
    .brand_list {
      position: relative;
      width: 552px; height: 184px;
      overflow: hidden;
      ul {
        position: absolute;
        left: 0; top: 0;
        width: 1656px; height: 184px;
        overflow: hidden;
        li {
          float: left;
          width: 552px; height: 184px;
          img {
            width: 100%;
          }
        }
      }
    }
    .controller {
      position: absolute;
      left: 40px; bottom: 27px;
      width: 100px; height: 10px;
      text-align: center;
      ul li {
        display: inline-block;
        margin: 0 1px;
        a {
          display: block;
          width: 10px; height: 10px;
          overflow: hidden;
          text-indent: -9999px;
          background-color: rgba(255, 255, 255, 0.7);
          border-radius: 5px;
        }
      }
      ul li.active a,
      ul li:focus a {
        background-color: #00b5e2;
      }
    }
  }
  .cont_event {
    float: left;
    width: 274px; height: 184px;
    background: url(../img/event_bg.png) no-repeat 0 7px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    .desc {
      margin-top: 20px;
      margin-left: 17px;
      font-family: 'Noto Sans KR', sans-serif;
      h2 {
        font-size: 1em;
        font-weight: 700;
        line-height: 22px;
      }
      p {
        margin-top: 13px;
        margin-bottom: 30px;
        font-size: 0.813em;
      }
    }
    a.more {
      margin-left: 17px;
      padding: 7px 13px;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 0.875em;
      letter-spacing: 1px;
      background-color: #fff;
      border-radius: 2px;
      transition: all 0.3s;
    }
    a.more:hover,
    a.more:focus {
      color: #fff;
      text-decoration: underline;
      background-color: #00b5e2;
    }
  }
}